

/*do not down main menu height you can up it  cause logo will not align properly */
$header-height: 120px;
$main-menu-height: 30px;

$small-menu-height: 50px;
$font-size:16px;


$main-logo-size: 0 + ($header-height * 2);

$main-menu-active-backgruond-color: $shade-4;
$main-menu-active-color: $shade-5;

$main-menu-background-color: $shade-1;
$small-menu-background-color: $shade-1;


#myCarousel{
 margin-top:120px;
}
#main-manu {
    width: 100%;
    height: $header-height;
    box-sizing: border-box;
    clear: both;
    background: $main-menu-background-color;
    display: flex;
    position:absolute;
    z-index:10;
    clear:both;
    

    .menu-active {
        /*background-color: $main-menu-active-backgruond-color !important;
        color: $main-menu-active-color !important;*/
        border-bottom: 4px solid $main-menu-active-color ;
    }

    .logo-wrapper {
        padding: 0px;
        width: 400px;
        height: $header-height;
        box-sizing: border-box;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .logo-container {
            max-width: $main-logo-size;
            width: 100%;
            height: $header-height;
            margin: 0px auto;

            img {
                min-width: 0px;
                max-width: $main-logo-size;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .menu-wrapper {
        flex-grow: 1;
        height: $main-menu-height;
        width: auto;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .menu-container {
            min-width: 600px;
            max-width: 700px;
            width: 100%;
            height: inherit;
            background-color: $shade-1;
            display: flex;
            box-sizing: border-box;
            
                float: right;

            .Li {
                background-color: $shade-1;
                box-sizing: border-box;
                /*border-left: 1px solid black;*/
                line-height: $main-menu-height;
                padding-left: 2.5%;
                padding-right: 2.5%;

                a {
                    display: block;
                    text-decoration: none;
                    color: $shade-3;
                    font-size:$font-size;
                    &:hover {
                        /*border-bottom: 4px solid $main-menu-active-color;*/
                        @extend .menu-active;
                    }
                }

                &:first-child {
                    border: none;
                }
            }
        }
    }

    .small-menu {
        display: none;
        height: $small-menu-height;
        background-color: $small-menu-background-color;
        float: right;
        cursor: pointer;
        text-align: center;
        clear: both;
        width: 100%;

        .small-menu-logo {
            flex-grow: 1;

            img {
                min-width: 50px;
                max-width: 70px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 10px;
            }
        }


        span {
            font-size: 30px;
            line-height: $small-menu-height;
            font-size: 35px;
            color: $shade-5;
            width: 60px;
        }
    }
}



@media (max-width: 992px) {
    #main-manu {
        display: inline-block;
        height: auto;

        .logo-wrapper {
            width: 100%;
            clear: both;
            position: static;
            transform: initial;
            top: 0px;
        }

        .menu-wrapper {
            clear: both;
            position: static;
            transform: initial;
            top: 0px;
            padding-bottom: 50px;

            .menu-container {
                width: 100%;
                float:initial;
                margin:0 auto;
                padding-left: 45px;
                .Li {
                    border: none;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    #main-manu {
        height: $small-menu-height;
        background: $small-menu-background-color;

        .logo-wrapper {
            display: none;
        }

        .menu-wrapper {
            height: auto;
            display: none;

            .menu-container {
                display: inline-block;
                max-width: 100%;
                min-width: 100%;
                height: auto;
                padding-left: 0px;
                .Li {
                    border: none;
                    /*border-bottom: 1px solid black;*/
                    height: $small-menu-height;
                    line-height: $small-menu-height;
                    padding-left: 0px;
                    padding-right:0px;

                    a {
                        border:none;
                        &:hover {
                            
                            background-color:$main-menu-active-color;
                            color:$shade-1;
                        }
                    }

                    &:first-child {
                        /*border-bottom: 1px solid black;*/
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .small-menu {
            display: flex;
        }
    }
    /* Logo */
}
