/* color theme */
/*do not down main menu height you can up it  cause logo will not align properly */
#myCarousel {
  margin-top: 120px; }

#main-manu {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  clear: both;
  background: #FFFFFF;
  display: flex;
  position: absolute;
  z-index: 10;
  clear: both; }
  #main-manu .menu-active, #main-manu .menu-wrapper .menu-container .Li a:hover {
    /*background-color: $main-menu-active-backgruond-color !important;
        color: $main-menu-active-color !important;*/
    border-bottom: 4px solid #5DC5C5; }
  #main-manu .logo-wrapper {
    padding: 0px;
    width: 400px;
    height: 120px;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #main-manu .logo-wrapper .logo-container {
      max-width: 240px;
      width: 100%;
      height: 120px;
      margin: 0px auto; }
      #main-manu .logo-wrapper .logo-container img {
        min-width: 0px;
        max-width: 240px;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  #main-manu .menu-wrapper {
    flex-grow: 1;
    height: 30px;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #main-manu .menu-wrapper .menu-container {
      min-width: 600px;
      max-width: 700px;
      width: 100%;
      height: inherit;
      background-color: #FFFFFF;
      display: flex;
      box-sizing: border-box;
      float: right; }
      #main-manu .menu-wrapper .menu-container .Li {
        background-color: #FFFFFF;
        box-sizing: border-box;
        /*border-left: 1px solid black;*/
        line-height: 30px;
        padding-left: 2.5%;
        padding-right: 2.5%; }
        #main-manu .menu-wrapper .menu-container .Li a {
          display: block;
          text-decoration: none;
          color: grey;
          font-size: 16px; }
          #main-manu .menu-wrapper .menu-container .Li a:hover {
            /*border-bottom: 4px solid $main-menu-active-color;*/ }
        #main-manu .menu-wrapper .menu-container .Li:first-child {
          border: none; }
  #main-manu .small-menu {
    display: none;
    height: 50px;
    background-color: #FFFFFF;
    float: right;
    cursor: pointer;
    text-align: center;
    clear: both;
    width: 100%; }
    #main-manu .small-menu .small-menu-logo {
      flex-grow: 1; }
      #main-manu .small-menu .small-menu-logo img {
        min-width: 50px;
        max-width: 70px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px; }
    #main-manu .small-menu span {
      font-size: 30px;
      line-height: 50px;
      font-size: 35px;
      color: #5DC5C5;
      width: 60px; }

@media (max-width: 992px) {
  #main-manu {
    display: inline-block;
    height: auto; }
    #main-manu .logo-wrapper {
      width: 100%;
      clear: both;
      position: static;
      transform: initial;
      top: 0px; }
    #main-manu .menu-wrapper {
      clear: both;
      position: static;
      transform: initial;
      top: 0px;
      padding-bottom: 50px; }
      #main-manu .menu-wrapper .menu-container {
        width: 100%;
        float: initial;
        margin: 0 auto;
        padding-left: 45px; }
        #main-manu .menu-wrapper .menu-container .Li {
          border: none; } }

@media (max-width: 768px) {
  #main-manu {
    height: 50px;
    background: #FFFFFF; }
    #main-manu .logo-wrapper {
      display: none; }
    #main-manu .menu-wrapper {
      height: auto;
      display: none; }
      #main-manu .menu-wrapper .menu-container {
        display: inline-block;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        padding-left: 0px; }
        #main-manu .menu-wrapper .menu-container .Li {
          border: none;
          /*border-bottom: 1px solid black;*/
          height: 50px;
          line-height: 50px;
          padding-left: 0px;
          padding-right: 0px; }
          #main-manu .menu-wrapper .menu-container .Li a {
            border: none; }
            #main-manu .menu-wrapper .menu-container .Li a:hover {
              background-color: #5DC5C5;
              color: #FFFFFF; }
          #main-manu .menu-wrapper .menu-container .Li:first-child {
            /*border-bottom: 1px solid black;*/ }
          #main-manu .menu-wrapper .menu-container .Li:last-child {
            border: none; }
    #main-manu .small-menu {
      display: flex; }
  /* Logo */ }

body {
  background-color: lightgray; }

.carousel-caption {
  display: none; }

.carousel-indicators li {
  width: 50px;
  width: 50px;
  border-radius: initial;
  background-color: #FFFFFF;
  border: none; }

.carousel-indicators .active {
  width: 50px;
  width: 50px;
  border-radius: initial;
  background-color: #5DC5C5;
  border: none; }

@media (max-width: 768px) {
  #myCarousel {
    margin-top: 0px; } }

