

@import "theme.scss";
@import "menu.scss";

body
{
    background-color: $shade-1;
}

#jssor_1
{
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
    visibility: hidden;
}

.carousel-indicators
{
    z-index: 1;

    li
    {
        width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-1;
        border: none;
         &:hover
            {
                background-color: $shade-5;
            }
    }

  

    .active
    {
        width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-5;
        border: none;
    }
}

#myCarousel
{

    .fill
    {
        padding-top: 50px;
        padding-left: 50px;

        h1
        {
            margin: 0px;
        }
    }

    .carousel-caption
    {
        display: none;
    }
}


.sec-1
{
    text-align: center;
    background-color: $shade-1;
    padding: 50px 15px;

    h1
    {
        font-family: OpenSans-Light;
    }

    p
    {
        font-size: 18px;
        font-family: OpenSans-Light;
    }
}

.sec-2
{
    background-color: $shade-1;

    .media-list
    {
        background-color: #F4F4F4;

        .media-left
        {
            width: 50%;


            img
            {
                width: 100%;
            }
        }

        .media-body
        {
            width: 50%;
            padding: 14px 10px;

            h4
            {
                font-family: OpenSans-Semibold;
            }

            p
            {
                font-family: OpenSans-Light;
            }

            a
            {
                font-family: OpenSans-Light;
                font-size:16px;
            }
        }
    }
}

.sec-3
{
    height: 400px;
    background-repeat: no-repeat;
    background-color: green;
    background-size: 115% 100%;
    background-color: $shade-1;
    background-image: url('../images/skin-care.jpg');
    clear: both;



    .row
    {
        h1
        {
            font-family: OpenSans-Regular;
            color:#55575A;
        }

        p
        {
            font-family: OpenSans-Light;
            font-size:18px;
            color:#55575A;
        }

        a
        {
            font-family: OpenSans-Light;
            font-size:16px;
        }

        .injectable-services-1
        {
            height: 400px;

            .inject
            {
                visibility: visible;
            }
        }

        .injectable-services-2
        {
            height: 400px;

            .inject
            {
                visibility: hidden;
            }
        }
    }
}

.sec-4
{
    height: 400px;
    background-color: $shade-1;
    clear: both;

    .row
    {
        h1
        {
            font-family: OpenSans-Regular;
            color:#55575A;
        }

        p
        {
            font-family: OpenSans-Light;
            font-size:18px;
            color:#55575A;
        }

        a
        {
            font-family: OpenSans-Light;
            font-size:16px;
        }

        .injectable-services-1
        {
            height: 400px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: $shade-1;
            background-image: url('../images/skin-care-3.jpg');

            .inject
            {
                /*display: none;*/
            }
        }

        .injectable-services-2
        {
            /*height: 400px;

            .inject {
                display: block;
            }*/
        }
    }
}

.sec-5
{
    height: 400px;
    background-color: green;
    background-color: $shade-1;
    background-image: url('../images/VL_Logo_4C.png'), url('../images/Dollarphotoclub_29774275.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 450px 135px, 100% 900px;
    background-position: 94% 52%, 0px -240px;
    clear: both;

    .row
    {
        h1
        {
            font-family: OpenSans-Regular;
            color:#55575A;
        }

        p
        {
            font-family: OpenSans-Light;
            font-size:18px;
            color:#55575A;
        }

        a
        {
            font-family: OpenSans-Light;
            font-size:16px;
        }

        .injectable-services-1
        {
            height: 400px;

            .inject
            {
                visibility: visible;
            }
        }

        .injectable-services-2
        {
            height: 400px;

            .inject
            {
                visibility: hidden;
            }
        }
    }
}


.sec-6
{

    height: 400px;
    background-color: $shade-1;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-color: $shade-1;
    background-image: url('../images/facial.jpg');
    clear: both;

    .row
    {
        h1
        {
            font-family: OpenSans-Regular;
            color:#55575A;
        }

        p
        {
            font-family: OpenSans-Light;
            font-size:18px;
            color:#55575A;
        }

        a
        {
            font-family: OpenSans-Light;
            font-size:16px;
        }

        .injectable-services-1
        {
            height: 400px;


            .inject
            {
                /*display: none;*/
            }
        }

        .injectable-services-2
        {
            /*height: 400px;

            .inject {
                display: block;
            }*/
        }
    }
}

.sec-8
{
    background-color: $shade-1;
    margin-top:50px;
    h1
        {
            font-family: OpenSans-Regular;
            color:#55575A;
        }

        p
        {
            font-family: OpenSans-Light;
            font-size:18px;
            color:#55575A;
            line-height:35px;
        }

        a
        {
            font-family: OpenSans-Light;
        }

    img
    {
        width: 100%;
        height: 400px;
    }

    .media-heading
    {
        
    }

    .media-right
    {
        text-align: center;
        padding-top:30px;

        a
        {
            width: 127px;
            background: #5DC5C5;
            color: white;
            padding: 10px 0px;
        }
    }
}

.sec-9
{
    text-align: center;
    background-color: $shade-1;
    font-family:OpenSans-Semibold;
    .input-group
    {
        width: 400px;
        margin: 0 auto;
        font-family:OpenSans-Light;
        input
        {
            height: 50px;
        }

        .input-group-addon
        {
            background: #5DC5C5;
            color: white;
            border: none;
            border-radius: inherit;
        }
    }
}

.sec-10
{
    background-color: $shade-1;

    .social-sec-1
    {
        .social-wrapper
        {
            display: flex;
            width: 460px;
            margin: 0 auto;
            padding-top: 50px;
        }

        .vector
        {
            background-image: url('../images/vector-assets.png');
            background-repeat: no-repeat;
            width: 90px;
            height: 70px;
            flex-grow: 1;
            margin-left: 5%;

            &:nth-child(1)
            {
                background-position: -18px -180px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(2)
            {
                background-position: -150px -180px;
                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(3)
            {
                background-position: -270px -180px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(4)
            {
                background-position: -398px -180px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }
        }
    }



    .social-sec-2
    {
        .vector
        {
            background-image: url('../images/vector-assets.png');
            background-repeat: no-repeat;
            background-position: -527px -172px;
            width: 200px;
            height: 180px;
            margin: 0 auto;
        }
    }

    .social-sec-3
    {
        .social-wrapper
        {
            display: flex;
            width: 460px;
            margin: 0 auto;
            padding-top: 50px;
        }

        .vector
        {
            background-image: url('../images/vector-assets.png');
            background-repeat: no-repeat;
            width: 90px;
            height: 70px;
            flex-grow: 1;
            margin-left: 5%;

            &:nth-child(1)
            {
                background-position: -24px -275px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(2)
            {
                background-position: -153px -275px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(3)
            {
                background-position: -278px -275px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }

            &:nth-child(4)
            {
                background-position: -395px -275px;

                &:hover
                {
                    background-color: $shade-5;
                }
            }
        }
    }
}

.sec-11
{
    border-top: 5px solid lightgrey;

    #footer-wrapper
    {
        width: 100%;
        height: 30px;
        clear: both;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container
    {
        width: 95%;
        height: inherit;
        margin: 0 auto;
        clear: both;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container div
    {
        float: left;
        width: 50%;
        height: 30px;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container div:first-child
    {
    }

    #footer-wrapper .footer-container div:last-child
    {
        text-align: right;
    }

    #footer-wrapper .footer-container div p
    {
        line-height: 30px;
        font-size: 13px;
    }
    /* color thme start */
    #footer-wrapper
    {
        background: $shade-1;
    }

    #footer-wrapper .footer-container div:first-child
    {
    }

    #footer-wrapper .footer-container div:last-child a
    {
        color: lightgrey;
        font-weight: bold;
    }

    #footer-wrapper .footer-container div p
    {
        color: lightgrey;
    }
    /* color thme end */
    @media (max-width:768px)
    {
        #footer-wrapper
        {
            height: auto;
        }

        #footer-wrapper .footer-container
        {
            width: 100%;
        }

        #footer-wrapper .footer-container div
        {
            float: none;
            width: 100%;
            text-align: center !important;
            height: auto;
        }

        #footer-wrapper .footer-container div p
        {
            margin: 0px;
        }
    }
}

.sec-12
{

}

.sec-13
{
    background-color: $shade-1;  

    .social-sec-1
    {
        padding-top:30px;
        font-family:OpenSans-Light;
    }

    .social-sec-3
    {
        .social-wrapper
        {
            display: flex;
            width: 340px;
            margin: 0 auto;
        }

        .vector
        {
            background-image: url('../images/vector-assets.png');
            background-repeat: no-repeat;
            width: 90px;
            height: 60px;
            flex-grow: 1;
            margin-left: 5%;

            &:nth-child(1)
            {
                background-position: -194px -30px;

                &:hover
                {
                    
                    background-position: -190px -99px;
                }
            }

            &:nth-child(2)
            {
                background-position: -258px -30px;

                &:hover
                {
                     background-position: -254px -99px;
                }
            }

            &:nth-child(3)
            {
                background-position: -323px -30px;

                &:hover
                {
                    background-position: -319px -99px;
                }
            }

            &:nth-child(4)
            {
                background-position: -388px -30px;

                &:hover
                {
                   background-position: -384px -99px;
                }
            }
        }
    }
}

@import "responsive.scss";
