

@import "theme.scss";
@import "menu.scss";

body {
    background-color: $shade-1;
}

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
    visibility: hidden;
}

.carousel-indicators {
    z-index: 1;

    li {
        width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-1;
        border: none;
    }

    .active {
        width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-5;
        border: none;
    }
}

#myCarousel {

    .fill {
        padding-top: 50px;
        padding-left: 50px;

        h1 {
            margin: 0px;
        }
    }

    .carousel-caption {
        display: none;
    }
}


.sec-1 {
    text-align: center;
    background-color: $shade-1;
    padding: 50px 10px;

    h1 {
    }

    p {
        font-size: 16px;
    }
}

.sec-2 {
    background-color: $shade-1;

    .media-list {
        background-color: #F4F4F4;

        .media-left {
            width: 50%;


            img {
                width: 100%;
            }
        }

        .media-body {
            width: 50%;
            padding: 14px 10px;

            h4 {
                font-weight: bold;
            }
        }
    }
}

.sec-3 {
    height: 400px;
    background-repeat: no-repeat;
    background-color: green;
    background-size: 115% 100%;
    background-color: $shade-1;
    background-image: url('../images/skin-care.jpg');
    clear: both;

    .row {
        .injectable-services-1 {
            height: 400px;

            .inject {
                visibility: visible;
            }
        }

        .injectable-services-2 {
            height: 400px;

            .inject {
                visibility: hidden;
            }
        }
    }
}

.sec-4 {
    height: 400px;
    background-color: $shade-1;
    clear: both;

    .row {
        .injectable-services-1 {
            height: 400px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: $shade-1;
            background-image: url('../images/skin-care-3.jpg');

            .inject {
                /*display: none;*/
            }
        }

        .injectable-services-2 {
            /*height: 400px;

            .inject {
                display: block;
            }*/
        }
    }
}

.sec-5 {
    height: 400px;
    background-repeat: no-repeat;
    background-color: green;
    background-size: 115% 100%;
    background-color: $shade-1;
    background-image: url('../images/Dollarphotoclub.jpg');
    clear: both;

    .row {
        .injectable-services-1 {
            height: 400px;

            .inject {
                visibility: visible;
            }
        }

        .injectable-services-2 {
            height: 400px;

            .inject {
                visibility: hidden;
            }
        }
    }
}


.sec-6 {
    height: 400px;
    background-color: $shade-1;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-color: $shade-1;
    background-image: url('../images/facial.jpg');
    clear: both;

    .row {
        .injectable-services-1 {
            height: 400px;


            .inject {
                /*display: none;*/
            }
        }

        .injectable-services-2 {
            /*height: 400px;

            .inject {
                display: block;
            }*/
        }
    }
}

.sec-8 {
    background-color: $shade-1;

    img {
        width: 100%;
        height: 400px;
    }

    .media-heading {
        font-weight: bold;
    }

    .media-right {
        text-align: center;

        a {
            width: 127px;
            background: #5DC5C5;
            color: white;
            padding: 10px 0px;
        }
    }
}

.sec-9 {
    text-align: center;
    background-color: $shade-1;

    .input-group {
        width: 400px;
        margin: 0 auto;

        input {
            height: 50px;
        }

        .input-group-addon {
            background: #5DC5C5;
            color: white;
            border: none;
            border-radius: inherit;
        }
    }
}

.sec-10 {
    background-color: $shade-1;

    .vector {
        background-image: url('../images/vector-assets.png');
        background-repeat: no-repeat;
        height: 70px;

        &:nth-child(1) {
            background-position: 9px -187px;
        }

        &:nth-child(2) {
            background-position: -127px -187px;
        }

        &:nth-child(3) {
            background-position: -254px -187px;
        }

        &:nth-child(4) {
            background-position: -378px -187px;
        }

        &:nth-child(5) {
            div {
                height: 200px;
                width: 200px;
                margin: 0 auto;
                margin-top: -80px;
                background-image: url('../images/vector-assets.png');
                background-repeat: no-repeat;
                background-position: -524px -178px;
            }

            background-image: none;
        }

        &:nth-child(6) {
            background-position: -15px -275px;
        }

        &:nth-child(7) {
            background-position: -131px -279px;
        }

        &:nth-child(8) {
            background-position: -246px -276px;
        }

        &:nth-child(9) {
            background-position: -382px -276px;
        }
    }
}

.sec-11 {
    border-top: 5px solid lightgrey;

    #footer-wrapper {
        width: 100%;
        height: 30px;
        clear: both;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container {
        width: 95%;
        height: inherit;
        margin: 0 auto;
        clear: both;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container div {
        float: left;
        width: 50%;
        height: 30px;
        box-sizing: border-box;
    }

    #footer-wrapper .footer-container div:first-child {
    }

    #footer-wrapper .footer-container div:last-child {
        text-align: right;
    }

    #footer-wrapper .footer-container div p {
        line-height: 30px;
        font-size: 13px;
    }
    /* color thme start */
    #footer-wrapper {
        background: $shade-1;
    }

    #footer-wrapper .footer-container div:first-child {
    }

    #footer-wrapper .footer-container div:last-child a {
        color: lightgrey;
        font-weight: bold;
    }

    #footer-wrapper .footer-container div p {
        color: lightgrey;
    }
    /* color thme end */
    @media (max-width:768px) {
        #footer-wrapper {
            height: auto;
        }

        #footer-wrapper .footer-container {
            width: 100%;
        }

        #footer-wrapper .footer-container div {
            float: none;
            width: 100%;
            text-align: center !important;
            height: auto;
        }

        #footer-wrapper .footer-container div p {
            margin: 0px;
        }
    }
}



@import "responsive.scss";
