

@import "theme.scss";
@import "menu.scss";

body {
    background-color: lightgray;
}


.carousel-caption{display:none;}
.carousel-indicators {

    li {
        width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-1;
        border: none;
    }

    .active {
       width: 50px;
        width: 50px;
        border-radius: initial;
        background-color: $shade-5;
        border: none;
    }
}

@import "responsive.scss";
